/* Estilos para la página listar.html */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #E9BABC;
    color: #fff;
}

a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #E9BABC;
}
